.titleh3{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #e2e2e2;
    margin-left: 32px;

}
.parra{
    font-size: 20px;
    font-weight: 300;
    color: #949090;
    text-align: left;
    padding-left: 31px;
    padding-right: 90px;
}
@media screen and (max-width: 840px) {
    .titleh3{
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    
    }
    .parra{
        text-align: center;
        margin-left: 80px;
    }
    
}
@media screen and (max-width: 501px) {
    .titleh3{
        font-size: 35px;
    
    }
    .parra{
        font-size: 12px;
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
    }
    
}
.contenedor{
    text-align: center;
}