.Icon{
    text-decoration: none;
    color: #353333;
}
.Icon:hover{
    font-size: 12px;
    text-decoration: none;
    color: #a0201d;
}
.Icon:focus{
    text-decoration: none;
    color: #a0201d;
}